<div class="main">
  <mat-toolbar class="tool">
    <div class="tool-heading">
      <span class="create">{{labData.CREATE}}</span> {{labData.CALENDER}}
    </div>
  </mat-toolbar>

  <div class="middle">
    <span>{{labData.FOR}}</span>

    <span *ngIf="(userForm.get('fname').invalid || userForm.get('lname').invalid || userForm.get('des').invalid || userForm.get('des').untouched ||userForm.get('lname').untouched ||userForm.get('fname').untouched )">
      <mat-icon class="identi_Icon">check_circle</mat-icon>
    </span>

    <span  *ngIf="userForm.get('fname').valid && userForm.get('lname').valid && userForm.get('des').valid && userForm.get('des').valid && userForm.get('des').touched && userForm.get('lname').touched && userForm.get('fname').touched ">
      <mat-icon  class="identi_Icon" [ngStyle]="{color:'green'}">check_circle</mat-icon>
    </span>
    <hr>
    <span>{{labData.FOR}}</span>
    <div class="pending" *ngIf="userForm.get('fname').invalid || userForm.get('fname').untouched">{{labData.PENDING}}</div>
    <div  class="pending" *ngIf="userForm.get('fname').valid && userForm.get('fname').touched">{{upadteFname}}</div>
  </div>


  <div class="formBody">
    <form class="example-form" [formGroup]="userForm">
      <mat-form-field class="example-full-width">
        <!-- logic for Name input field -->
        <input type="text" matInput [placeholder]="labData.NAME_PLACE" id="fname" formControlName="fname" (change)="onChange($event)" #ftemplate>

        <!-- validation for Name icon -->
        <span matSuffix *ngIf="userForm.get('fname').invalid || userForm.get('fname').untouched">
          <mat-icon>check_circle</mat-icon>
        </span>

        <span matSuffix *ngIf="userForm.get('fname').valid && userForm.get('fname').touched">
          <mat-icon [ngStyle]="{color:'green'}">check_circle</mat-icon>
        </span>

        <!-- logic for Name hint -->
        <mat-hint align="end" class="hint"><span class="firstLetter">{{ftemplate.value.length}}</span>/30</mat-hint>
        <div></div>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <!-- logic for Long Name input field -->
        <input type="text" matInput [placeholder]="labData.LONG_PLACE" id="lname" formControlName="lname" #ltemplate>

        <!-- validation for Long Name icon -->
        <span matSuffix *ngIf="userForm.get('lname').invalid || userForm.get('lname').untouched">
          <mat-icon>check_circle</mat-icon>
        </span>
        <span matSuffix *ngIf="userForm.get('lname').valid && userForm.get('lname').touched">
          <mat-icon [ngStyle]="{color:'green'}">check_circle</mat-icon>
        </span>

        <!-- logic for Long Name hint -->
        <mat-hint align="end" class="hint"><span class="firstLetter">{{ltemplate.value.length}}</span>/255</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <!-- logic for description input field -->
        <textarea matInput [placeholder]="labData.DES_PLACE" id="des" formControlName="des" #destemplate></textarea>
        <!-- logic for descriprtion field hint -->
        <mat-hint align="end" class="hint"><span class="firstLetter">{{destemplate.value.length}}</span>/4000</mat-hint>
      </mat-form-field>
    </form>
  </div>

</div>